input[type="text"] {
  font-size: 1.4em;
  padding: 0.2em;
  margin: 0.5em;
  border: none;
  border-radius: 0.25em;
}

input[type="text"]:focus, input[type="text"]:hover {
  outline: none;
  box-shadow: 0.15em 0.15em 0 #000000;
  transition: 0.3s ease-in-out;
}

input[type="checkbox"]:hover {
  background-color: #0E8388;
  border: 1px solid #0b686b;
  box-shadow: 0.15em 0.15em 0 #000000;
  transition: 0.3s ease-in-out;
}

input[type="checkbox"]:checked {
  background-color: #0E8388;
  border: 1px solid #0b686b;
  box-shadow: 0.15em 0.15em 0 #000000;
  transition: 0.3s ease-in-out;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 1.2em;
}

input[type="checkbox"]:checked:hover {
  cursor: pointer;
  background-color: #2E4F4F;
  border: 1px solid #2E4F4F;
  box-shadow: 0.15em 0.15em 0 #000000;
  transition: 0.3s ease-in-out;
}
