.post {
  background-color: #fff;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.post:hover {
  transform: scale(1.05);
}

.post img {
  width: 100%;
  object-fit: cover;
}

.post-content {
  padding: 30px;
}

.post-content h2 {
  margin-bottom: 10px;
}
