.contentContainer {
    position: relative;
    text-align: center;
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 0 1.5rem 6.5rem;
}

.text404 {
    display: block;
    color: var(--blue);
    font-family: var(--secondary-font);
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.title {
    font-family: var(--secondary-font);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.paragraph {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.buttonContainer {
    text-align: start;
    margin-top: 3.5rem;
    margin-left: 30vw;
    margin-bottom: 2.5rem;
}

.imageDog {
    position: absolute;
    height: 25vw;
    bottom: calc(-25vw * 0.5);
}

.blankSpace {
    height: 40vh;
}

@media (max-width: 1100px) {    
    .text404 {
        margin-bottom: 2.25rem;
    }

    .buttonContainer {
        margin-top: 2.75rem;
        margin-left: 15vw;
    }

    .imageDog {
        height: 50vw;
        bottom: calc(-50vw * 0.65);
        left: 40vw;
    }

    .blankSpace {
        height: 53vw;
    }
}

@media (max-width: 744px) {
    .contentContainer {
        padding: 3rem 1rem 17rem;
    }

    .text404 {
        font-size: 4rem;
    }

    .title {
        font-size: 2.25rem;
        line-height: 3rem;
    }

    .paragraph {
        font-size: 1.125rem;
        line-height: 1.3125rem;
    }

    .buttonContainer {
        margin: 2.5rem 0 0;
        text-align: center;
    }

    .imageDog {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        height: 94vw;
        bottom: calc(-94vw * 0.3);
        max-height: 375px;
    }

    .blankSpace {
        height: calc(94vw * 0.5);
    }
}