.logo {
  height: 40vmin;
  pointer-events: none;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }

  .reverse {
    animation: logo-spin-reverse infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
