.titleOtherProjects {
    font-family: var(--secondary-font);
    color: #363031;
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.recommendedProjects {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}