@import "styles/_variables";

.tags {
  width: 65vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  margin: 0 auto;
  align-items: center;
  color: $text-color;
  font-family: $main-font;
  font-size: 16px;

  p {
    font-size: 1.25rem;
  }

  &__list {
    list-style: none;
    width: 380px;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      background-color: $tag-color;
      padding: 6px 10px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}