@import "../../styles/_variables.scss";

.footer {
  background-color: $footer-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  box-shadow: 0px -2px 30px rgba($color: #000000, $alpha: 0.5);
  box-sizing: border-box;

  &__icons {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    margin: 0 10px;
  }

  p {
    margin: 0 10px;
    color: $text-color;
    font-family: $main-font;
    text-decoration: none;
  }
  a {
    color: $text-color;
    font-family: $main-font;
    text-decoration: none;
  }
}